<div class="register-container">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <form
      (ngSubmit)="signup()"
      class="form ng-untouched ng-pristine ng-valid"
      [formGroup]="signupForm"
      novalidate
    >
      <div class="card card-login">
        <div class="card-header">
          <div class="card-header">
            <h3 class="header text-center">Create an account</h3>
          </div>
        </div>
        <div class="card-body">
          <app-danger-alert
            [error]="error"></app-danger-alert>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="nc-icon nc-single-02"></i
              ></span>
            </div>
            <input
              class="form-control"
              type="text"
              formControlName="username"
              autocomplete="username"
              [placeholder]="'Username'"
            />
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="nc-icon nc-single-02"></i
              ></span>
            </div>
            <input
              class="form-control"
              type="email"
              formControlName="email"
              autocomplete="email"
              [placeholder]="'Email'"
            />
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="nc-icon nc-key-25"></i
              ></span>
            </div>
            <input
              class="form-control"
              type="password"
              formControlName="password"
              autocomplete="current-password"
              [placeholder]="'Password'"
              required
            />
          </div>
        </div>
        <div class="card-footer">
          <button
            class="btn btn-warning btn-round btn-block mb-3"
            type="submit"
            [disabled]="signupForm.invalid || isLoading"
          >
            <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
            <span translate>Sign up</span>
          </button>
          <a class="btn btn-round btn-block mb-3" [routerLink]="['/login']">Log in</a>
        </div>
      </div>
    </form>
  </div>
</div>
